@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 100;
    font-family: quicksand;

}

button {
    border-radius: 50px;
    padding: 15px 50px;
    border: solid 1px grey;
    color: rgb(94, 93, 93);
    font-weight: 400;
    font-size: 1.4rem;
    background: none;
}

p {
    color: rgb(94, 93, 93);
    text-align: left;
    font-size: 2rem;
    padding: 50px 0;
}

h1 {
    font-size: 5rem;
    font-style: normal;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {

    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.band {
    border: rgb(10, 10, 10)solid 1px;
    background: rgb(12, 7, 7);
    height: 20px;
}

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    border-bottom: solid rgba(128, 128, 128, 0.397) 1px;
}




.description1 {
    margin: 100px;
}

img {
    width: 100%;
    height: 100%;

}

.middle-page-up {
    display: grid;
    grid-template-columns: 42% 58%;
    width: 100%;
    border-bottom: solid rgba(128, 128, 128, 0.397) 1px;

}

.description2 {
    margin: 100px;
}

.middle-page-down {
    display: grid;
    grid-template-columns: 68% 32%;
    border-bottom: solid rgba(128, 128, 128, 0.397) 1px;
}

.middle-page-down img {
    height: 600px;
    object-fit: cover;

}

.description3 {
    margin: 100px;
}

.formulair {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "t t t t"
        "n n e e"
        "m m m m"
        "b b b b";
}

#title-form {
    margin-top: 50px;
    margin-bottom: 30px;
    grid-area: t;
    text-align: center;
}

.formulair #name {
    grid-area: n;
    text-align: center;
}

#email {
    grid-area: e;
    text-align: center;
    padding: 20px;
    font-weight: 700;
}

#msg {
    grid-area: m;
    text-align: center;
    width: 100%;
    font-weight: 700;
}

#send {
    grid-area: b;
    text-align: center;
    margin: 0 auto;
    width: 20%;
    padding: 0;
    height: 50px;
}

#name {
    padding: 20px;
    text-align: center;
    font-weight: 700;
}

input {
    width: 100%;
    padding: 22px 20px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.formulair::after {
    content: "";
    border-bottom: solid rgba(128, 128, 128, 0.397) 1px;
    width: 400%;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

li {
    margin-top: 20px;
    list-style: none;
    font-size: 20px;
    border: solid 1px;
    border-radius: 100px;
    padding: 10px;
    height: 20px;
    width: 20px;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
    color: rgb(173, 173, 171);
}

i {
    color: black;
}

.contact::before {

    content: "";
    border-top: solid rgba(214, 37, 37, 0.397) 10px;
    width: 1900px;
}